<a href="https://colab.research.google.com/github/Shahrukh2016/EDA-on-IMDB-Dataset/blob/main/EDA_on_IMDB_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## You have been hired by a rookie movie producer to help him decide what type of movies to produce and which actors to cast. You have to back your recommendations based on thorough analysis of the data he shared with you which has the list of 3000 movies and the corresponding details.

## As a data scientist, you have to first explore the data and check its sanity.

## Further, you have to answer the following questions:
1. ### <b> Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.</b>
2. ### <b>This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)? </b>
3. ### <b> Find out the unique genres of movies in this dataset.</b>
4. ### <b> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI? </b>
5. ### <b> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>
6. ### <b>Top 3 directors prefer which actors the most? </b>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
imdb_df= pd.read_csv("/content/drive/MyDrive/Colab Notebooks/AlmaBetter/Modules/Module 1: (Python for Data Science)/Topic 14: Pandas Operations/Data Files/Copy of imdb_data.csv")

In [ ]:
imdb_df.head(1)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651

In [ ]:
imdb_df.loc[0,"crew"]

'[{\'credit_id\': \'59ac067c92514107af02c8c8\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1449071, \'job\': \'First Assistant Director\', \'name\': \'Kelly Cantley\', \'profile_path\': None}, {\'credit_id\': \'52fe4ee7c3a36847f82afad7\', \'department\': \'Directing\', \'gender\': 2, \'id\': 3227, \'job\': \'Director\', \'name\': \'Steve Pink\', \'profile_path\': \'/myHOgo8mQSCiCAZNGMRdHVr03jr.jpg\'}, {\'credit_id\': \'5524ed25c3a3687ded000d88\', \'department\': \'Writing\', \'gender\': 2, \'id\': 347335, \'job\': \'Writer\', \'name\': \'Josh Heald\', \'profile_path\': \'/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg\'}, {\'credit_id\': \'5524ed2d925141720c001128\', \'department\': \'Writing\', \'gender\': 2, \'id\': 347335, \'job\': \'Characters\', \'name\': \'Josh Heald\', \'profile_path\': \'/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg\'}, {\'credit_id\': \'5524ed3d92514166c1004a5d\', \'department\': \'Production\', \'gender\': 2, \'id\': 57822, \'job\': \'Producer\', \'name\': \'Andrew Panay\', \'profile_path\': None}, {\'credit_id\': \'5524ed4bc3a3687df3000dd2\', \'department\': \'Production\', \'gender\': 0, \'id\': 1451395, \'job\': \'Associate Producer\', \'name\': \'Adam Blum\', \'profile_path\': None}, {\'credit_id\': \'5524ed5a925141720c00112c\', \'department\': \'Production\', \'gender\': 2, \'id\': 52997, \'job\': \'Executive Producer\', \'name\': \'Rob Corddry\', \'profile_path\': \'/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg\'}, {\'credit_id\': \'5524ed85c3a3687e0e000f56\', \'department\': \'Production\', \'gender\': 0, \'id\': 62807, \'job\': \'Executive Producer\', \'name\': \'Ben Ormand\', \'profile_path\': None}, {\'credit_id\': \'5524ed9fc3a3687e0e000f59\', \'department\': \'Sound\', \'gender\': 2, \'id\': 23486, \'job\': \'Original Music Composer\', \'name\': \'Christophe Beck\', \'profile_path\': \'/2fnJUmCk6IEpVIptpYaUk31epHx.jpg\'}, {\'credit_id\': \'5524eda6c3a3687e03000d28\', \'department\': \'Camera\', \'gender\': 2, \'id\': 6117, \'job\': \'Director of Photography\', \'name\': \'Declan Quinn\', \'profile_path\': None}, {\'credit_id\': \'5524edb4925141720c00113d\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1451396, \'job\': \'Editor\', \'name\': \'Jamie Gross\', \'profile_path\': None}, {\'credit_id\': \'5524edc1925141727600102e\', \'department\': \'Production\', \'gender\': 0, \'id\': 22219, \'job\': \'Casting\', \'name\': \'Susie Farris\', \'profile_path\': None}, {\'credit_id\': \'5524edd192514171cb008257\', \'department\': \'Art\', \'gender\': 0, \'id\': 1002643, \'job\': \'Production Design\', \'name\': \'Ryan Berg\', \'profile_path\': None}, {\'credit_id\': \'555ad9be9251411e5b00d485\', \'department\': \'Production\', \'gender\': 2, \'id\': 57431, \'job\': \'Executive Producer\', \'name\': \'Matt Moore\', \'profile_path\': None}, {\'credit_id\': \'5677e93bc3a36816890087dc\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1551818, \'job\': \'Script Supervisor\', \'name\': \'Nicole Garcea\', \'profile_path\': None}, {\'credit_id\': \'5677e96a92514179e10093d0\', \'department\': \'Production\', \'gender\': 0, \'id\': 1551819, \'job\': \'Production Coordinator\', \'name\': \'Jason Salzman\', \'profile_path\': None}, {\'credit_id\': \'5677e98492514179d2008cd9\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1422996, \'job\': \'Costume Design\', \'name\': \'Carol Cutshall\', \'profile_path\': None}, {\'credit_id\': \'5677e9d5c3a368168e009414\', \'department\': \'Art\', \'gender\': 2, \'id\': 500199, \'job\': \'Set Decoration\', \'name\': \'Tim Cohn\', \'profile_path\': None}, {\'credit_id\': \'5677f89d9251417845001a61\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1527917, \'job\': \'Hair Department Head\', \'name\': \'Voni Hinkle\', \'profile_path\': None}, {\'credit_id\': \'5677f8b392514179dd0089fb\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1431554, \'job\': \'Makeup Department Head\', \'name\': \'Remi Savva\', \'profile_path\': None}, {\'credit_id\': \'5677f8d1c3a3681689008a4b\', \'department\': \'Art\', \'gender\': 0, \'id\': 66495, \'job\': \'Art Direction\', \'name\': \'Jason Baldwin Stewart\', \'profile_path\': None}, {\'credit_id\': \'5677f8eec3a3681685008dd5\', \'department\': \'Production\', \'gender\': 0, \'id\': 1412466, \'job\': \'Production Supervisor\', \'name\': \'Korey Budd\', \'profile_path\': None}, {\'credit_id\': \'5677f90a9251417845001a7d\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1401562, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary C. Bourgeois\', \'profile_path\': None}, {\'credit_id\': \'5677f91e9251417845001a84\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1396794, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gabriel J. Serrano\', \'profile_path\': None}, {\'credit_id\': \'5677f938c3a3681680008dd4\', \'department\': \'Editing\', \'gender\': 0, \'id\': 13168, \'job\': \'Dialogue Editor\', \'name\': \'Victoria Rose Sampson\', \'profile_path\': None}, {\'credit_id\': \'5677f94e92514179dd008a1f\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551839, \'job\': \'Production Sound Mixer\', \'name\': \'Michael B. Koff\', \'profile_path\': None}, {\'credit_id\': \'5677f968c3a368168e009698\', \'department\': \'Sound\', \'gender\': 0, \'id\': 113052, \'job\': \'Sound Effects Editor\', \'name\': \'Randall Guth\', \'profile_path\': None}, {\'credit_id\': \'5677f98dc3a3681685008e02\', \'department\': \'Crew\', \'gender\': 2, \'id\': 1442535, \'job\': \'Stunt Coordinator\', \'name\': \'Chuck Picerni Jr.\', \'profile_path\': \'/yE5QtXUzcrnCzMRctZL8F5g842B.jpg\'}, {\'credit_id\': \'5677f9a692514179dd008a49\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1437305, \'job\': \'Camera Operator\', \'name\': \'Michael Applebaum\', \'profile_path\': None}, {\'credit_id\': \'5677f9bd9251417845001aae\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1401765, \'job\': \'Still Photographer\', \'name\': \'Steve Dietl\', \'profile_path\': None}, {\'credit_id\': \'5677f9e592514179e7008bf7\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1402721, \'job\': \'Rigging Gaffer\', \'name\': \'Tarik Naim Alherimi\', \'profile_path\': None}, {\'credit_id\': \'5677f9f4c3a368167c0090ed\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1402719, \'job\': \'Gaffer\', \'name\': \'Paul Olinde\', \'profile_path\': None}, {\'credit_id\': \'5677fa21c3a368168e0096ca\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551840, \'job\': \'Music Supervisor\', \'name\': \'Steve Griffen\', \'profile_path\': None}, {\'credit_id\': \'5677fa31c3a3681680008e04\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551841, \'job\': \'Music Editor\', \'name\': \'Matt Fausak\', \'profile_path\': None}, {\'credit_id\': \'5677fa4392514179dd008a76\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551840, \'job\': \'Music Editor\', \'name\': \'Steve Griffen\', \'profile_path\': None}, {\'credit_id\': \'5677fa609251417845001acf\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1403416, \'job\': \'Costume Supervisor\', \'name\': \'Shonta T. McCray\', \'profile_path\': None}, {\'credit_id\': \'5677fa8492514179d2008fb3\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1425831, \'job\': \'Steadicam Operator\', \'name\': \'Mark Karavite\', \'profile_path\': None}, {\'credit_id\': \'5677fab2c3a3681689008ac3\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1551842, \'job\': \'First Assistant Camera\', \'name\': \'Joe Waistell\', \'profile_path\': None}, {\'credit_id\': \'5677faecc3a368168e0096fe\', \'department\': \'Sound\', \'gender\': 0, \'id\': 58362, \'job\': \'Supervising Sound Editor\', \'name\': \'Michael Hilkene\', \'profile_path\': None}, {\'credit_id\': \'59ac0368c3a3682c0a02c484\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1881584, \'job\': \'Additional Writing\', \'name\': \'John Karnay\', \'profile_path\': None}, {\'credit_id\': \'59ac0411c3a3682bf0028966\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1431552, \'job\': \'Hairstylist\', \'name\': \'Daina Daigle\', \'profile_path\': None}, {\'credit_id\': \'59ac0504925141072302b8fb\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1712001, \'job\': \'Makeup Artist\', \'name\': \'Allison Gordin\', \'profile_path\': None}, {\'credit_id\': \'59ac0570c3a3682bf0028aac\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 578725, \'job\': \'Makeup Artist\', \'name\': \'Darryl Lucas\', \'profile_path\': None}, {\'credit_id\': \'59ac05a4925141077e02c97e\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1463274, \'job\': \'Makeup Artist\', \'name\': \'Annabelle MacNeal\', \'profile_path\': None}, {\'credit_id\': \'59ac05c6925141076502d106\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1881586, \'job\': \'Makeup Artist\', \'name\': \'Marina Savva\', \'profile_path\': None}, {\'credit_id\': \'59ac0615c3a3682c480296aa\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1406267, \'job\': \'Hairstylist\', \'name\': \'Carl G. Variste\', \'profile_path\': None}, {\'credit_id\': \'59ac06ba925141076502d1fa\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1798593, \'job\': \'First Assistant Director\', \'name\': \'Josh King\', \'profile_path\': None}, {\'credit_id\': \'59ac06f1c3a3682c2202aca0\', \'department\': \'Art\', \'gender\': 0, \'id\': 1415083, \'job\': \'Greensman\', \'name\': \'Scott C. Bivona\', \'profile_path\': None}, {\'credit_id\': \'59ac072c925141076502d260\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881587, \'job\': \'Title Designer\', \'name\': \'Eunha Choi\', \'profile_path\': None}, {\'credit_id\': \'59ac077c925141077e02cb62\', \'department\': \'Art\', \'gender\': 0, \'id\': 1585302, \'job\': \'Construction Coordinator\', \'name\': \'Daniel Coe\', \'profile_path\': None}, {\'credit_id\': \'59ac07e0925141078a02d842\', \'department\': \'Art\', \'gender\': 0, \'id\': 1495523, \'job\': \'Set Designer\', \'name\': \'Spencer Davison\', \'profile_path\': None}, {\'credit_id\': \'59ac0862925141072f02cf6f\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881589, \'job\': \'Painter\', \'name\': \'Sonia L. Garcia\', \'profile_path\': None}, {\'credit_id\': \'59ac08e0c3a3682bf0028e51\', \'department\': \'Art\', \'gender\': 0, \'id\': 1424896, \'job\': \'Art Department Coordinator\', \'name\': \'Caleb Guillotte\', \'profile_path\': None}, {\'credit_id\': \'59ac0920c3a3682c2202af36\', \'department\': \'Art\', \'gender\': 0, \'id\': 1393375, \'job\': \'Leadman\', \'name\': "Pat A. O\'Connor", \'profile_path\': None}, {\'credit_id\': \'59ac095592514107af02cc39\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881592, \'job\': \'Set Designer\', \'name\': \'Brendan Turrill\', \'profile_path\': None}, {\'credit_id\': \'59ac0989925141072302bdfa\', \'department\': \'Art\', \'gender\': 2, \'id\': 76497, \'job\': \'Property Master\', \'name\': \'Brook Yeaton\', \'profile_path\': None}, {\'credit_id\': \'59ac0a2cc3a3682c9c02add1\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1881596, \'job\': \'Boom Operator\', \'name\': \'Matthew Armstrong\', \'profile_path\': None}, {\'credit_id\': \'59ac0aa8925141072f02d282\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 1558086, \'job\': \'Special Effects Supervisor\', \'name\': \'Matt Kutcher\', \'profile_path\': None}, {\'credit_id\': \'59ac0b2ac3a3682c2202b192\', \'department\': \'Crew\', \'gender\': 2, \'id\': 1558087, \'job\': \'Special Effects Coordinator\', \'name\': \'Eric Roberts\', \'profile_path\': None}, {\'credit_id\': \'59ac0b7ac3a3682c2202b1fb\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1392098, \'job\': \'Visual Effects Supervisor\', \'name\': \'Rocco Passionino\', \'profile_path\': None}, {\'credit_id\': \'59ac0bbe925141077e02d0c4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1558716, \'job\': \'Visual Effects Coordinator\', \'name\': \'Joseph Payo\', \'profile_path\': None}, {\'credit_id\': \'59ac0bf2c3a3682cc802cefa\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1408784, \'job\': \'Visual Effects Producer\', \'name\': \'Chris Roff\', \'profile_path\': None}, {\'credit_id\': \'59ac0c51c3a3682c48029d99\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1881600, \'job\': \'Best Boy Electric\', \'name\': \'Ulyan Atamanyuk\', \'profile_path\': None}, {\'credit_id\': \'59ac0cbac3a3682c0a02cff6\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1881602, \'job\': \'Key Grip\', \'name\': \'Chris Ekstrom\', \'profile_path\': None}, {\'credit_id\': \'59ac0d54925141072f02d5e6\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1484984, \'job\': \'Best Boy Electric\', \'name\': \'Brad Garris\', \'profile_path\': None}, {\'credit_id\': \'59ac0db0925141078a02df86\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1881603, \'job\': \'Dolly Grip\', \'name\': \'Kendell Joseph\', \'profile_path\': None}, {\'credit_id\': \'59ac0e5a925141077e02d39f\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1549179, \'job\': \'Dolly Grip\', \'name\': \'Spencer Wilcox\', \'profile_path\': None}, {\'credit_id\': \'59ac0e9f925141079d02bee6\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1552626, \'job\': \'Key Costumer\', \'name\': \'Sarah P. Koeppe\', \'profile_path\': None}, {\'credit_id\': \'59ac0ec1c3a3682bf0029524\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1881605, \'job\': \'Seamstress\', \'name\': \'Catherine Rodi\', \'profile_path\': None}, {\'credit_id\': \'59ac0eef925141070702c7ff\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1463801, \'job\': \'Seamstress\', \'name\': \'Giselle Spence\', \'profile_path\': None}, {\'credit_id\': \'59ac0f5dc3a3682c4802a0f5\', \'department\': \'Production\', \'gender\': 0, \'id\': 1400837, \'job\': \'Location Manager\', \'name\': \'John A. Johnston\', \'profile_path\': None}, {\'credit_id\': \'59ac0ff2c3a3682c4802a196\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1844322, \'job\': \'Production Controller\', \'name\': \'Gail Marks\', \'profile_path\': None}]'

In [ ]:
crew_list= eval(imdb_df.loc[0,"crew"])

In [ ]:
len(crew_list)

72

In [ ]:
imdb_df.columns.values

array(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'Keywords',
       'cast', 'crew', 'revenue'], dtype=object)

In [ ]:
columns_to_keep=["budget", "genres", "imdb_id","original_language", "original_title", "cast", "crew", "revenue"]
imdb_df= imdb_df[columns_to_keep]

In [ ]:
imdb_df.head(1)

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651

In [ ]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             3000 non-null   int64
 1   genres             2993 non-null   object
 2   imdb_id            3000 non-null   object
 3   original_language  3000 non-null   object
 4   original_title     3000 non-null   object
 5   cast               2987 non-null   object
 6   crew               2984 non-null   object
 7   revenue            3000 non-null   int64
dtypes: int64(2), object(6)
memory usage: 187.6+ KB

In [ ]:
imdb_non_null_df= imdb_df.dropna()

In [ ]:
imdb_non_null_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2978 entries, 0 to 2999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             2978 non-null   int64
 1   genres             2978 non-null   object
 2   imdb_id            2978 non-null   object
 3   original_language  2978 non-null   object
 4   original_title     2978 non-null   object
 5   cast               2978 non-null   object
 6   crew               2978 non-null   object
 7   revenue            2978 non-null   int64
dtypes: int64(2), object(6)
memory usage: 209.4+ KB

In [ ]:
 def convert_string_to_list(str):
  return eval(str)

In [ ]:
imdb_df.loc[~imdb_df["genres"].isna(),"genres"]= imdb_df.loc[~imdb_df["genres"].isna(),"genres"].apply(convert_string_to_list)

In [ ]:
imdb_df.loc[~imdb_df["cast"].isna(),"cast"]= imdb_df.loc[~imdb_df["cast"].isna(),"cast"].apply(convert_string_to_list)

In [ ]:
imdb_df.loc[~imdb_df["crew"].isna(),"crew"]= imdb_df.loc[~imdb_df["crew"].isna(),"crew"].apply(convert_string_to_list)

In [ ]:
imdb_df_new= imdb_df.copy()

In [ ]:
imdb_df_new[imdb_df_new["genres"].isna()]

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue
470,2000000,NaN,tt0349159,en,"The Book of Mormon Movie, Volume 1: The Journey","[{'cast_id': 1, 'character': 'Sam', 'credit_id...",NaN,1672730
1622,400000,NaN,tt0261755,en,Jackpot,"[{'cast_id': 4, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4d3c9251416c9110f319', 'de...",43719
1814,2700000,NaN,tt0110289,it,Курочка Ряба,[],"[{'credit_id': '52fe4c139251416c910eeee3', 'de...",4635143
1819,0,NaN,tt0352622,ru,Небо. Самолёт. Девушка.,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4728c3a368484e0b7f53', 'de...",314195
2423,500000,NaN,tt0984177,en,Amarkalam,"[{'cast_id': 1, 'character': 'Vaasu', 'credit_...","[{'credit_id': '53b42af80e0a26598c00cea3', 'de...",500000
2686,0,NaN,tt0833448,ru,Лифт,[],"[{'credit_id': '57b8a5d19251411bc6000587', 'de...",123182
2900,200000,NaN,tt1766044,en,Poslednyaya skazka Rity,"[{'cast_id': 3, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4ab89251416c750ebaab', 'de...",486937

In [ ]:
imdb_df_new.tail(1)

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue
2999,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",tt1600195,en,Abduction,"[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

In [ ]:
imdb_df_new.loc[imdb_df_new["budget"]<1000,"budget"]=imdb_df_new.loc[imdb_df_new["budget"]>=1000,"budget"].median()
imdb_df_new.loc[imdb_df_new["revenue"]<1000,"revenue"]=imdb_df_new.loc[imdb_df_new["revenue"]>=1000,"revenue"].median()

In [ ]:
imdb_df_new.describe()

             budget       revenue
count  3.000000e+03  3.000000e+03
mean   2.708250e+07  6.705811e+07
std    3.492773e+07  1.373917e+08
min    2.500000e+03  1.404000e+03
25%    1.000000e+07  2.947600e+06
50%    1.645000e+07  1.748753e+07
75%    2.900000e+07  6.891920e+07
max    3.800000e+08  1.519558e+09

In [ ]:
imdb_df_new["profit"]= imdb_df_new["revenue"]-imdb_df_new["budget"]

In [ ]:
imdb_df_new[["original_title", "profit"]][imdb_df_new["profit"]==imdb_df_new["profit"].max()]

     original_title      profit
1761      Furious 7  1316249360

In [ ]:
max_profit_df= imdb_df_new[imdb_df_new["profit"]==imdb_df_new["profit"].max()]

In [ ]:
max_profit_df

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue,profit
1761,190000000,"[{'id': 28, 'name': 'Action'}]",tt2820852,en,Furious 7,"[{'cast_id': 17, 'character': 'Dominic Toretto...","[{'credit_id': '52fe4cc8c3a36847f823e681', 'de...",1506249360,1316249360

In [ ]:
crew_list= max_profit_df.iloc[0]["crew"]

In [ ]:
crew_list[0]

{'credit_id': '52fe4cc8c3a36847f823e681',
 'department': 'Production',
 'gender': 2,
 'id': 12835,
 'job': 'Producer',
 'name': 'Vin Diesel',
 'profile_path': '/7rwSXluNWZAluYMOEWBxkPmckES.jpg'}

In [ ]:
Producer_list=[]
Director_list=[]
for elem in crew_list:
  if elem["job"]=="Producer":
    Producer_list.append(elem["name"])
  if elem["job"]=="Director":
        Director_list.append(elem["name"])

In [ ]:
Producer_list, Director_list

(['Vin Diesel', 'Neal H. Moritz', 'Michael Fottrell', 'Brandon Birtell'],
 ['James Wan'])

In [ ]:
cast_list= max_profit_df.iloc[0]["cast"]

In [ ]:
cast_list[0]

{'cast_id': 17,
 'character': 'Dominic Toretto',
 'credit_id': '5431dfd10e0a265915002c34',
 'gender': 2,
 'id': 12835,
 'name': 'Vin Diesel',
 'order': 0,
 'profile_path': '/7rwSXluNWZAluYMOEWBxkPmckES.jpg'}

In [ ]:
actor_list=[]
for actor in cast_list:
  actor_list.append(actor["name"])

In [ ]:
actor_list

['Vin Diesel',
 'Paul Walker',
 'Dwayne Johnson',
 'Michelle Rodriguez',
 'Tyrese Gibson',
 'Ludacris',
 'Jordana Brewster',
 'Djimon Hounsou',
 'Tony Jaa',
 'Ronda Rousey',
 'Nathalie Emmanuel',
 'Kurt Russell',
 'Jason Statham',
 'Sung Kang',
 'Gal Gadot',
 'Lucas Black',
 'Elsa Pataky',
 'Noel Gugliemi',
 'John Brotherton',
 'Luke Evans',
 'Ali Fazal',
 'Miller Kimsey',
 'Charlie Kimsey',
 'Eden Estrella',
 'Gentry White',
 'Iggy Azalea',
 'Jon Lee Brody',
 'Levy Tran',
 'Anna Colwell',
 'Viktor Hernandez',
 'Steve Coulter',
 'Robert Pralgo',
 'Antwan Mills',
 'J.J. Phillips',
 'Jorge Ferragut',
 'Sara Sohn',
 'Benjamin Blankenship',
 'D.J. Hapa',
 'T-Pain',
 'Brian Mahoney',
 'Brittney Alger',
 'Romeo Santos',
 'Jocelin Donahue',
 'Stephanie Langston',
 'Jorge-Luis Pallo',
 'Tego Calder√≥n',
 'Nathalie Kelley',
 'Shad Moss',
 'Don Omar',
 'Klement Tinaj',
 'Caleb Walker',
 'Cody Walker']

In [ ]:
imdb_df_new["roi"]= imdb_df_new["profit"]*100/imdb_df_new["budget"]

In [ ]:
imdb_df_new.head(1)

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue,profit,roi
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349,-12.038207

In [ ]:
roi_languages_df= imdb_df_new.groupby(["original_language"])["roi"].mean().reset_index()
roi_languages_df

   original_language           roi
0                 ar    -91.807009
1                 bn    -96.739429
2                 cn     86.002479
3                 cs    -99.894267
4                 da     24.702661
5                 de    510.347257
6                 el   5198.013245
7                 en    929.987781
8                 es    103.433478
9                 fa      3.235168
10                fi    -30.319235
11                fr     51.900020
12                he    456.292450
13                hi    249.618424
14                hu    -95.535384
15                id    -41.617578
16                it     22.136747
17                ja    122.763087
18                ko  11277.949295
19                ml    370.833333
20                mr    193.333333
21                nb     18.847943
22                nl    -24.142008
23                no     24.155275
24                pl    395.816987
25                pt    -29.291459
26                ro    -62.182109
27                ru    115.160185
28                sr   3397.506200
29                sv     25.853172
30                ta    159.258448
31                te    440.076812
32                tr    558.596201
33                ur    350.673773
34                vi    -50.846154
35                zh    309.093227

In [ ]:
max_roi_lan= roi_languages_df[roi_languages_df["roi"]==roi_languages_df["roi"].max()]
max_roi_lan

   original_language           roi
18                ko  11277.949295

Question:3

In [ ]:
imdb_df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             3000 non-null   int64
 1   genres             2993 non-null   object
 2   imdb_id            3000 non-null   object
 3   original_language  3000 non-null   object
 4   original_title     3000 non-null   object
 5   cast               2987 non-null   object
 6   crew               2984 non-null   object
 7   revenue            3000 non-null   int64
 8   profit             3000 non-null   int64
 9   roi                3000 non-null   float64
dtypes: float64(1), int64(3), object(6)
memory usage: 234.5+ KB

In [ ]:
imdb_df_no_na_genres= imdb_df_new[~imdb_df_new["genres"].isna()]
imdb_df_no_na_genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2993 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             2993 non-null   int64
 1   genres             2993 non-null   object
 2   imdb_id            2993 non-null   object
 3   original_language  2993 non-null   object
 4   original_title     2993 non-null   object
 5   cast               2980 non-null   object
 6   crew               2978 non-null   object
 7   revenue            2993 non-null   int64
 8   profit             2993 non-null   int64
 9   roi                2993 non-null   float64
dtypes: float64(1), int64(3), object(6)
memory usage: 257.2+ KB

In [ ]:
imdb_df_no_na_genres.head(1)

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue,profit,roi
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349,-12.038207

In [ ]:
imdb_df_no_na_genres.loc[0,"genres"]

[{'id': 35, 'name': 'Comedy'},
 'Comedy',
 'Comedy',
 'Comedy',
 'Comedy',
 'Comedy',
 'Comedy']

In [ ]:
imdb_df_no_na_genres.iterrows()

In [ ]:
genre_list=[]
for index,row in imdb_df_no_na_genres.iterrows():
  print(index,row)
  genre_list= imdb_df_no_na_genres.loc[index,"genres"]
  print(genre_list)
  for elem in genre_list:
    print(elem)
    genre_list.append(elem['name'])

In [ ]:
imdb_df_no_na_crew=imdb_df_new[~imdb_df_new["crew"].isna()]

In [ ]:
imdb_df_no_na_crew.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2984 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             2984 non-null   int64
 1   genres             2978 non-null   object
 2   imdb_id            2984 non-null   object
 3   original_language  2984 non-null   object
 4   original_title     2984 non-null   object
 5   cast               2984 non-null   object
 6   crew               2984 non-null   object
 7   revenue            2984 non-null   int64
 8   profit             2984 non-null   int64
 9   roi                2984 non-null   float64
dtypes: float64(1), int64(3), object(6)
memory usage: 256.4+ KB

In [ ]:
imdb_df_no_na_crew.loc[1,"crew"]

[{'credit_id': '52fe43fe9251416c7502563d',
  'department': 'Directing',
  'gender': 2,
  'id': 1201,
  'job': 'Director',
  'name': 'Garry Marshall',
  'profile_path': '/kx77E8p5rnEmKxIhFT0qWCEMEik.jpg'},
 {'credit_id': '52fe43fe9251416c75025667',
  'department': 'Camera',
  'gender': 2,
  'id': 1214,
  'job': 'Director of Photography',
  'name': 'Charles Minsky',
  'profile_path': None},
 {'credit_id': '52fe43fe9251416c75025661',
  'department': 'Sound',
  'gender': 2,
  'id': 4500,
  'job': 'Original Music Composer',
  'name': 'John Debney',
  'profile_path': '/hTrlvZlDXQk49nfc2BM9sjKfJv.jpg'},
 {'credit_id': '52fe43fe9251416c7502564f',
  'department': 'Production',
  'gender': 1,
  'id': 8851,
  'job': 'Producer',
  'name': 'Whitney Houston',
  'profile_path': '/69ouDnXnmklYPr4sMJXWKYz81AL.jpg'},
 {'credit_id': '52fe43fe9251416c7502566d',
  'department': 'Editing',
  'gender': 0,
  'id': 12970,
  'job': 'Editor',
  'name': 'Bruce Green',
  'profile_path': '/yplxWPVgwK1b33AjvbhM9mWX2Aw.jpg'},
 {'credit_id': '52fe43fe9251416c75025655',
  'department': 'Production',
  'gender': 2,
  'id': 38415,
  'job': 'Producer',
  'name': 'Mario Iscovich',
  'profile_path': None},
 {'credit_id': '52fe43fe9251416c7502565b',
  'department': 'Production',
  'gender': 1,
  'id': 38416,
  'job': 'Executive Producer',
  'name': 'Ellen H. Schwartz',
  'profile_path': '/6WInjABr1sAYGXaa5qOvSrsHIqP.jpg'},
 {'credit_id': '52fe43fe9251416c75025649',
  'department': 'Production',
  'gender': 1,
  'id': 59973,
  'job': 'Producer',
  'name': 'Debra Martin Chase',
  'profile_path': None},
 {'credit_id': '52fe43fe9251416c75025643',
  'department': 'Writing',
  'gender': 1,
  'id': 25539,
  'job': 'Screenplay',
  'name': 'Shonda Rhimes',
  'profile_path': '/4c77e347InbTAlw9lGvORpZBHV6.jpg'}]

In [ ]:
def get_producres_and_directors(crew_list):
  try:
    producer_list=[]
    director_list=[]
    for elem in crew_list:
      if elem["job"]=="Producer":
        producer_list.append(elem["name"])

      if elem["job"]=="Director":
        director_list.append(elem["name"])
    return producer_list, director_list
  except:
    return [],[]

In [ ]:
imdb_df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             3000 non-null   int64
 1   genres             2993 non-null   object
 2   imdb_id            3000 non-null   object
 3   original_language  3000 non-null   object
 4   original_title     3000 non-null   object
 5   cast               2987 non-null   object
 6   crew               2984 non-null   object
 7   revenue            3000 non-null   int64
 8   profit             3000 non-null   int64
 9   roi                3000 non-null   float64
dtypes: float64(1), int64(3), object(6)
memory usage: 234.5+ KB

In [ ]:
imdb_df_no_na_crew.loc[0,"crew"]

[{'credit_id': '59ac067c92514107af02c8c8',
  'department': 'Directing',
  'gender': 0,
  'id': 1449071,
  'job': 'First Assistant Director',
  'name': 'Kelly Cantley',
  'profile_path': None},
 {'credit_id': '52fe4ee7c3a36847f82afad7',
  'department': 'Directing',
  'gender': 2,
  'id': 3227,
  'job': 'Director',
  'name': 'Steve Pink',
  'profile_path': '/myHOgo8mQSCiCAZNGMRdHVr03jr.jpg'},
 {'credit_id': '5524ed25c3a3687ded000d88',
  'department': 'Writing',
  'gender': 2,
  'id': 347335,
  'job': 'Writer',
  'name': 'Josh Heald',
  'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'},
 {'credit_id': '5524ed2d925141720c001128',
  'department': 'Writing',
  'gender': 2,
  'id': 347335,
  'job': 'Characters',
  'name': 'Josh Heald',
  'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'},
 {'credit_id': '5524ed3d92514166c1004a5d',
  'department': 'Production',
  'gender': 2,
  'id': 57822,
  'job': 'Producer',
  'name': 'Andrew Panay',
  'profile_path': None},
 {'credit_id': '5524ed4bc3a3687df3000dd2',
  'department': 'Production',
  'gender': 0,
  'id': 1451395,
  'job': 'Associate Producer',
  'name': 'Adam Blum',
  'profile_path': None},
 {'credit_id': '5524ed5a925141720c00112c',
  'department': 'Production',
  'gender': 2,
  'id': 52997,
  'job': 'Executive Producer',
  'name': 'Rob Corddry',
  'profile_path': '/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg'},
 {'credit_id': '5524ed85c3a3687e0e000f56',
  'department': 'Production',
  'gender': 0,
  'id': 62807,
  'job': 'Executive Producer',
  'name': 'Ben Ormand',
  'profile_path': None},
 {'credit_id': '5524ed9fc3a3687e0e000f59',
  'department': 'Sound',
  'gender': 2,
  'id': 23486,
  'job': 'Original Music Composer',
  'name': 'Christophe Beck',
  'profile_path': '/2fnJUmCk6IEpVIptpYaUk31epHx.jpg'},
 {'credit_id': '5524eda6c3a3687e03000d28',
  'department': 'Camera',
  'gender': 2,
  'id': 6117,
  'job': 'Director of Photography',
  'name': 'Declan Quinn',
  'profile_path': None},
 {'credit_id': '5524edb4925141720c00113d',
  'department': 'Editing',
  'gender': 0,
  'id': 1451396,
  'job': 'Editor',
  'name': 'Jamie Gross',
  'profile_path': None},
 {'credit_id': '5524edc1925141727600102e',
  'department': 'Production',
  'gender': 0,
  'id': 22219,
  'job': 'Casting',
  'name': 'Susie Farris',
  'profile_path': None},
 {'credit_id': '5524edd192514171cb008257',
  'department': 'Art',
  'gender': 0,
  'id': 1002643,
  'job': 'Production Design',
  'name': 'Ryan Berg',
  'profile_path': None},
 {'credit_id': '555ad9be9251411e5b00d485',
  'department': 'Production',
  'gender': 2,
  'id': 57431,
  'job': 'Executive Producer',
  'name': 'Matt Moore',
  'profile_path': None},
 {'credit_id': '5677e93bc3a36816890087dc',
  'department': 'Directing',
  'gender': 0,
  'id': 1551818,
  'job': 'Script Supervisor',
  'name': 'Nicole Garcea',
  'profile_path': None},
 {'credit_id': '5677e96a92514179e10093d0',
  'department': 'Production',
  'gender': 0,
  'id': 1551819,
  'job': 'Production Coordinator',
  'name': 'Jason Salzman',
  'profile_path': None},
 {'credit_id': '5677e98492514179d2008cd9',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1422996,
  'job': 'Costume Design',
  'name': 'Carol Cutshall',
  'profile_path': None},
 {'credit_id': '5677e9d5c3a368168e009414',
  'department': 'Art',
  'gender': 2,
  'id': 500199,
  'job': 'Set Decoration',
  'name': 'Tim Cohn',
  'profile_path': None},
 {'credit_id': '5677f89d9251417845001a61',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1527917,
  'job': 'Hair Department Head',
  'name': 'Voni Hinkle',
  'profile_path': None},
 {'credit_id': '5677f8b392514179dd0089fb',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1431554,
  'job': 'Makeup Department Head',
  'name': 'Remi Savva',
  'profile_path': None},
 {'credit_id': '5677f8d1c3a3681689008a4b',
  'department': 'Art',
  'gender': 0,
  'id': 66495,
  'job': 'Art Direction',
  'name': 'Jason Baldwin Stewart',
  'profile_path': None},
 {'credit_id': '5677f8eec3a3681685008dd5',
  'department': 'Production',
  'gender': 0,
  'id': 1412466,
  'job': 'Production Supervisor',
  'name': 'Korey Budd',
  'profile_path': None},
 {'credit_id': '5677f90a9251417845001a7d',
  'department': 'Sound',
  'gender': 0,
  'id': 1401562,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary C. Bourgeois',
  'profile_path': None},
 {'credit_id': '5677f91e9251417845001a84',
  'department': 'Sound',
  'gender': 0,
  'id': 1396794,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gabriel J. Serrano',
  'profile_path': None},
 {'credit_id': '5677f938c3a3681680008dd4',
  'department': 'Editing',
  'gender': 0,
  'id': 13168,
  'job': 'Dialogue Editor',
  'name': 'Victoria Rose Sampson',
  'profile_path': None},
 {'credit_id': '5677f94e92514179dd008a1f',
  'department': 'Sound',
  'gender': 0,
  'id': 1551839,
  'job': 'Production Sound Mixer',
  'name': 'Michael B. Koff',
  'profile_path': None},
 {'credit_id': '5677f968c3a368168e009698',
  'department': 'Sound',
  'gender': 0,
  'id': 113052,
  'job': 'Sound Effects Editor',
  'name': 'Randall Guth',
  'profile_path': None},
 {'credit_id': '5677f98dc3a3681685008e02',
  'department': 'Crew',
  'gender': 2,
  'id': 1442535,
  'job': 'Stunt Coordinator',
  'name': 'Chuck Picerni Jr.',
  'profile_path': '/yE5QtXUzcrnCzMRctZL8F5g842B.jpg'},
 {'credit_id': '5677f9a692514179dd008a49',
  'department': 'Camera',
  'gender': 0,
  'id': 1437305,
  'job': 'Camera Operator',
  'name': 'Michael Applebaum',
  'profile_path': None},
 {'credit_id': '5677f9bd9251417845001aae',
  'department': 'Camera',
  'gender': 0,
  'id': 1401765,
  'job': 'Still Photographer',
  'name': 'Steve Dietl',
  'profile_path': None},
 {'credit_id': '5677f9e592514179e7008bf7',
  'department': 'Lighting',
  'gender': 0,
  'id': 1402721,
  'job': 'Rigging Gaffer',
  'name': 'Tarik Naim Alherimi',
  'profile_path': None},
 {'credit_id': '5677f9f4c3a368167c0090ed',
  'department': 'Lighting',
  'gender': 0,
  'id': 1402719,
  'job': 'Gaffer',
  'name': 'Paul Olinde',
  'profile_path': None},
 {'credit_id': '5677fa21c3a368168e0096ca',
  'department': 'Sound',
  'gender': 0,
  'id': 1551840,
  'job': 'Music Supervisor',
  'name': 'Steve Griffen',
  'profile_path': None},
 {'credit_id': '5677fa31c3a3681680008e04',
  'department': 'Sound',
  'gender': 0,
  'id': 1551841,
  'job': 'Music Editor',
  'name': 'Matt Fausak',
  'profile_path': None},
 {'credit_id': '5677fa4392514179dd008a76',
  'department': 'Sound',
  'gender': 0,
  'id': 1551840,
  'job': 'Music Editor',
  'name': 'Steve Griffen',
  'profile_path': None},
 {'credit_id': '5677fa609251417845001acf',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1403416,
  'job': 'Costume Supervisor',
  'name': 'Shonta T. McCray',
  'profile_path': None},
 {'credit_id': '5677fa8492514179d2008fb3',
  'department': 'Camera',
  'gender': 0,
  'id': 1425831,
  'job': 'Steadicam Operator',
  'name': 'Mark Karavite',
  'profile_path': None},
 {'credit_id': '5677fab2c3a3681689008ac3',
  'department': 'Camera',
  'gender': 0,
  'id': 1551842,
  'job': 'First Assistant Camera',
  'name': 'Joe Waistell',
  'profile_path': None},
 {'credit_id': '5677faecc3a368168e0096fe',
  'department': 'Sound',
  'gender': 0,
  'id': 58362,
  'job': 'Supervising Sound Editor',
  'name': 'Michael Hilkene',
  'profile_path': None},
 {'credit_id': '59ac0368c3a3682c0a02c484',
  'department': 'Crew',
  'gender': 0,
  'id': 1881584,
  'job': 'Additional Writing',
  'name': 'John Karnay',
  'profile_path': None},
 {'credit_id': '59ac0411c3a3682bf0028966',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1431552,
  'job': 'Hairstylist',
  'name': 'Daina Daigle',
  'profile_path': None},
 {'credit_id': '59ac0504925141072302b8fb',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1712001,
  'job': 'Makeup Artist',
  'name': 'Allison Gordin',
  'profile_path': None},
 {'credit_id': '59ac0570c3a3682bf0028aac',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 578725,
  'job': 'Makeup Artist',
  'name': 'Darryl Lucas',
  'profile_path': None},
 {'credit_id': '59ac05a4925141077e02c97e',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1463274,
  'job': 'Makeup Artist',
  'name': 'Annabelle MacNeal',
  'profile_path': None},
 {'credit_id': '59ac05c6925141076502d106',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1881586,
  'job': 'Makeup Artist',
  'name': 'Marina Savva',
  'profile_path': None},
 {'credit_id': '59ac0615c3a3682c480296aa',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1406267,
  'job': 'Hairstylist',
  'name': 'Carl G. Variste',
  'profile_path': None},
 {'credit_id': '59ac06ba925141076502d1fa',
  'department': 'Directing',
  'gender': 0,
  'id': 1798593,
  'job': 'First Assistant Director',
  'name': 'Josh King',
  'profile_path': None},
 {'credit_id': '59ac06f1c3a3682c2202aca0',
  'department': 'Art',
  'gender': 0,
  'id': 1415083,
  'job': 'Greensman',
  'name': 'Scott C. Bivona',
  'profile_path': None},
 {'credit_id': '59ac072c925141076502d260',
  'department': 'Art',
  'gender': 0,
  'id': 1881587,
  'job': 'Title Designer',
  'name': 'Eunha Choi',
  'profile_path': None},
 {'credit_id': '59ac077c925141077e02cb62',
  'department': 'Art',
  'gender': 0,
  'id': 1585302,
  'job': 'Construction Coordinator',
  'name': 'Daniel Coe',
  'profile_path': None},
 {'credit_id': '59ac07e0925141078a02d842',
  'department': 'Art',
  'gender': 0,
  'id': 1495523,
  'job': 'Set Designer',
  'name': 'Spencer Davison',
  'profile_path': None},
 {'credit_id': '59ac0862925141072f02cf6f',
  'department': 'Art',
  'gender': 0,
  'id': 1881589,
  'job': 'Painter',
  'name': 'Sonia L. Garcia',
  'profile_path': None},
 {'credit_id': '59ac08e0c3a3682bf0028e51',
  'department': 'Art',
  'gender': 0,
  'id': 1424896,
  'job': 'Art Department Coordinator',
  'name': 'Caleb Guillotte',
  'profile_path': None},
 {'credit_id': '59ac0920c3a3682c2202af36',
  'department': 'Art',
  'gender': 0,
  'id': 1393375,
  'job': 'Leadman',
  'name': "Pat A. O'Connor",
  'profile_path': None},
 {'credit_id': '59ac095592514107af02cc39',
  'department': 'Art',
  'gender': 0,
  'id': 1881592,
  'job': 'Set Designer',
  'name': 'Brendan Turrill',
  'profile_path': None},
 {'credit_id': '59ac0989925141072302bdfa',
  'department': 'Art',
  'gender': 2,
  'id': 76497,
  'job': 'Property Master',
  'name': 'Brook Yeaton',
  'profile_path': None},
 {'credit_id': '59ac0a2cc3a3682c9c02add1',
  'department': 'Sound',
  'gender': 0,
  'id': 1881596,
  'job': 'Boom Operator',
  'name': 'Matthew Armstrong',
  'profile_path': None},
 {'credit_id': '59ac0aa8925141072f02d282',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 1558086,
  'job': 'Special Effects Supervisor',
  'name': 'Matt Kutcher',
  'profile_path': None},
 {'credit_id': '59ac0b2ac3a3682c2202b192',
  'department': 'Crew',
  'gender': 2,
  'id': 1558087,
  'job': 'Special Effects Coordinator',
  'name': 'Eric Roberts',
  'profile_path': None},
 {'credit_id': '59ac0b7ac3a3682c2202b1fb',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1392098,
  'job': 'Visual Effects Supervisor',
  'name': 'Rocco Passionino',
  'profile_path': None},
 {'credit_id': '59ac0bbe925141077e02d0c4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1558716,
  'job': 'Visual Effects Coordinator',
  'name': 'Joseph Payo',
  'profile_path': None},
 {'credit_id': '59ac0bf2c3a3682cc802cefa',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1408784,
  'job': 'Visual Effects Producer',
  'name': 'Chris Roff',
  'profile_path': None},
 {'credit_id': '59ac0c51c3a3682c48029d99',
  'department': 'Lighting',
  'gender': 0,
  'id': 1881600,
  'job': 'Best Boy Electric',
  'name': 'Ulyan Atamanyuk',
  'profile_path': None},
 {'credit_id': '59ac0cbac3a3682c0a02cff6',
  'department': 'Camera',
  'gender': 0,
  'id': 1881602,
  'job': 'Key Grip',
  'name': 'Chris Ekstrom',
  'profile_path': None},
 {'credit_id': '59ac0d54925141072f02d5e6',
  'department': 'Lighting',
  'gender': 0,
  'id': 1484984,
  'job': 'Best Boy Electric',
  'name': 'Brad Garris',
  'profile_path': None},
 {'credit_id': '59ac0db0925141078a02df86',
  'department': 'Camera',
  'gender': 0,
  'id': 1881603,
  'job': 'Dolly Grip',
  'name': 'Kendell Joseph',
  'profile_path': None},
 {'credit_id': '59ac0e5a925141077e02d39f',
  'department': 'Camera',
  'gender': 0,
  'id': 1549179,
  'job': 'Dolly Grip',
  'name': 'Spencer Wilcox',
  'profile_path': None},
 {'credit_id': '59ac0e9f925141079d02bee6',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1552626,
  'job': 'Key Costumer',
  'name': 'Sarah P. Koeppe',
  'profile_path': None},
 {'credit_id': '59ac0ec1c3a3682bf0029524',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1881605,
  'job': 'Seamstress',
  'name': 'Catherine Rodi',
  'profile_path': None},
 {'credit_id': '59ac0eef925141070702c7ff',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1463801,
  'job': 'Seamstress',
  'name': 'Giselle Spence',
  'profile_path': None},
 {'credit_id': '59ac0f5dc3a3682c4802a0f5',
  'department': 'Production',
  'gender': 0,
  'id': 1400837,
  'job': 'Location Manager',
  'name': 'John A. Johnston',
  'profile_path': None},
 {'credit_id': '59ac0ff2c3a3682c4802a196',
  'department': 'Crew',
  'gender': 0,
  'id': 1844322,
  'job': 'Production Controller',
  'name': 'Gail Marks',
  'profile_path': None}]

In [ ]:
get_producres_and_directors(imdb_df_no_na_crew.loc[1,"crew"])

(['Whitney Houston', 'Mario Iscovich', 'Debra Martin Chase'],
 ['Garry Marshall'])